<article class="post-card {{post_class}} no-image">
	<div class="post-card-tile"></div>
	<div class="post-card-content">
		<div class="post-card-content-inner">
			<a class="post-card-content-link" href="{{url}}">
				<header class="post-card-header">
					<h2 class="post-card-title">{{title}}</h2>
				</header>
			</a>
			<footer class="post-card-meta">
				<time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
			</footer>
		</div>
	</div>
</article>
