{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<header class="site-header-index outer">
	<div class="inner">
		<div class="site-header-content"></div>
		{{!-- {{> "site-nav"}} --}}
	</div>
</header>

{{!-- The main content area --}}
<main id="site-main" class="site-main site-main-index outer" role="main">
	<div class="inner">
		<div class="post-feed">
			{{#foreach posts}}
				{{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
				{{> "post-card"}}
			{{/foreach}}
		</div>
		{{!-- {{pagination}} --}}
	</div>
</main>
