{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="site-header-single outer">
	<div class="inner">
		<a href="/">
			<h1 class="site-title">
				{{@site.title}}
			</h1>
		</a>
	</div>
</header>

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<main id="site-main" class="site-main site-main-single outer" role="main">
	<div class="inner">

		<article class="post-full {{post_class}} {{#unless feature_image}}no-image{{/unless}}">

			<div class="post-full-header-wrapper">
				<header class="post-full-header">
					<section class="post-full-meta">
						<time class="post-full-meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMMM YYYY"}}</time>
					</section>
					<h1 class="post-full-title">{{title}}</h1>
				</header>
			</div>

			<div class="post-full-content-wrapper">
				<section class="post-full-content">
					{{content}}
				</section>
			</div>

			<div class="post-full-footer-wrapper">
				<footer class="post-full-footer">
					{{!-- Everything inside the #author tags pulls data from the author --}}
					{{#primary_author}}

					<section class="author-card">
						<section class="author-card-content">
							<h4 class="author-card-name"><a href="{{url}}">{{name}}</a></h4>
							{{#if bio}}
								<p>{{bio}}</p>
							{{else}}
								<p>Read <a href="{{url}}">more posts</a> by this author.</p>
							{{/if}}
						</section>
						<section class="author-card-contact">
							<ul>
								<li>
									<span class="socicon-mail"></span>
									<a href="mailto:machaerus@protonmail.com">machaerus(at)protonmail.com</a>
								</li>
								<li>
									<span class="socicon-gitlab"></span>
									<a href="https://gitlab.com/machaerus">machaerus</a>
									@ gitlab.com
								</li>
								<li>
									<span class="socicon-keybase"></span>
									<a href="https://keybase.io/machaerus">machaerus</a>
									@ keybase.io
								</li>
								<li>
									<span class="socicon-lastfm"></span>
									<a href="https://www.last.fm/user/Fikander23">Fikander23</a>
									@ last.fm
								</li>
							</ul>
						</section>
					</section>

					{{/primary_author}}
				</footer>
			</div>

			<div class="post-full-comments-wrapper">
			{{#is "post, page"}}

				<!-- <script data-isso="https://wiruje-astrolabium.pl/isso/"
						data-isso-avatar="false"
						data-isso-lang="pl"
						src="https://wiruje-astrolabium.pl/isso/js/embed.min.js">
				</script>
				<section id="isso-thread"></section> -->

				<!-- <div id='discourse-comments'></div>
				<script type="text/javascript">
				  DiscourseEmbed = { discourseUrl: 'https://discourse.wiruje-astrolabium.pl/',
				                     discourseEmbedUrl: '{{url absolute="true"}}' };

				  (function() {
				    var d = document.createElement('script');
					d.type = 'text/javascript';
					d.async = true;
					console.log(d);
				    d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
				    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
				  })();
				</script> -->

				<div class="just-comments"
					data-apikey="***"
					data-customlocale="customLocale"
					data-disablesociallogin="true"
					data-disablesharebutton="true"
				></div>
				<script>
					window.customLocale = {
						anonymousCommentHeader: 'Podaj swoje dane, by komentować',
						collapse: 'Zwiń wątek',
						collapsedComments: '%{n} zwinięty(ch) komentarz(y)',
						commentRemovedByModerator: 'Komentarz został usunięty przez moderatora.',
						comments: 'Komentarze',
						copyLink: 'skopiuj link',
						ctrlEnterToSend: 'użyj Ctrl + Enter, aby wysłać; Markdown jest obsługiwany',
						email: 'Twój e-mail (opcjonalnie)',
						hidePreview: 'Ukryj podgląd',
						loadMoreButton: 'Kliknij, aby wczytać nowe komentarze',
						loadingComments: 'Wczytywanie komentarzy',
						loadingPreview: 'Ładowanie podglądu',
						loginWithFacebook: 'Zaloguj się przez Facebooka',
						loginWithTwitter: 'Zaloguj się przez Twittera',
						name: 'Twoje imię',
						networkError: 'Wystąpił błąd sieciowy. Proszę spróbuj ponownie.',
						newestFirst: 'najpierw nowsze',
						noComments: 'Bądź pierwszym który skomentuje.',
						oldestFirst: 'najpierw starsze',
						preview: 'Pogląd',
						react: 'Wyraź uczucie',
						reply: 'Odpowiedz',
						replyTo: 'Napisz odpowiedź do %{name}',
						send: 'Wyślij',
						sending: 'Wysyłanie',
						share: 'udostępnij na',
						socialCommentHeader: 'Podaj swoje dane lub zaloguj się, by komentować',
						toggleNotificationsEmail:
						'włącz powiadomienia przez e-mail gdy ktoś odpowie na Twój komentarz',
						toggleNotificationsPush:
						'włącz powiadomienia gdy ktoś odpowie na Twój komentarz',
						topFirst: 'top pierwszy',
						uncollapse: 'Rozwiń wątek',
						userPic: 'Użytkownik',
						usernameRemoved: 'Usunięty',
						website: 'Strona internetowa (opcjonalnie)',
						writeAComment: 'Komentarz',
					}
				</script>

				<script async src="https://just-comments.com/w2.js"></script>

			{{/is}}
			</div>

		</article>

	</div>
</main>

{{!-- Links to Previous/Next posts --}}

<aside class="read-next outer">
	<div class="inner">
		<div class="read-next-feed">

			<div class="next">
			{{#next_post}}
				{{> "post-card"}}
			{{/next_post}}
			</div>

			<div class="prev">
			{{#prev_post}}
				{{> "post-card"}}
			{{/prev_post}}
			</prev>

		</div>
	</div>
</aside>

<footer class="site-full-colophon">
	<span class="copyright-info">2010&mdash;2019 &copy; Astrolabium</span>
	<span class="rss">
		<a href="/rss">
			<span class="socicon-rss"></span>
		</a>
	</span>
</footer>

{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}

{{/contentFor}}
