html {
  font-size: 62.5%; }

body {
  background: #fff;
  color: #333;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Libre Baskerville";
  font-weight: 300;
  font-size: 1.7rem;
  line-height: 28px; }

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid slategray; }
  a:hover {
    color: slategray; }

.site-wrapper {
  display: flex;
  flex-wrap: wrap; }

.site-header-index {
  flex: 1 0 45%;
  height: 100vh;
  background-color: black;
  background-image: url("../images/logo-oko-white.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 280px;
  position: relative; }

@media (min-width: 401px) and (max-width: 1024px) {
  .site-header-index {
    flex: 1 0 100%;
    height: 350px;
    background-size: 196px; } }
  @media (max-width: 399px) {
    .site-header-index {
      height: 250px;
      background-size: 140px; } }
  .site-header-index .site-header-content {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    padding: 112px;
    color: white; }
    .site-header-index .site-header-content h1 {
      font-family: "Libre Baskerville";
      font-size: 4.3rem;
      line-height: 84px;
      text-transform: uppercase;
      font-variant: common-ligatures; }
  .site-header-index .site-nav {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center; }

.site-main-index {
  flex: 1 0 55%;
  height: 100vh;
  background: #fff;
  box-sizing: border-box; }
  @media (max-width: 1023px) {
    .site-main-index {
      flex: 1 0 100%;
      height: auto; } }
  .site-main-index .inner {
    height: 100%;
    overflow-y: scroll; }
  .site-main-index .post-feed .post-card {
    height: 140px;
    width: 100%;
    margin: 0;
    float: left;
    clear: both;
    display: flex; }
    .site-main-index .post-feed .post-card:nth-child(5n-0) .post-card-tile {
      background: #E54661; }
    .site-main-index .post-feed .post-card:nth-child(5n-1) .post-card-tile {
      background: #FFA644; }
    .site-main-index .post-feed .post-card:nth-child(5n-2) .post-card-tile {
      background: #998A2F; }
    .site-main-index .post-feed .post-card:nth-child(5n-3) .post-card-tile {
      background: #2C594F; }
    .site-main-index .post-feed .post-card:nth-child(5n-4) .post-card-tile {
      background: #002D40; }
    .site-main-index .post-feed .post-card:hover .post-card-content {
      border-right: 5px solid black;
      background: #efefef; }
    .site-main-index .post-feed .post-card .post-card-tile {
      flex: 0 0 140px;
      box-sizing: border-box; }
      @media (max-width: 767px) {
        .site-main-index .post-feed .post-card .post-card-tile {
          flex: 0 0 56px; } }
    .site-main-index .post-feed .post-card .post-card-content {
      flex: 1 1 auto;
      padding: 0 56px;
      border-bottom: 1px solid #dedede;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      @media (max-width: 399px) {
        .site-main-index .post-feed .post-card .post-card-content {
          padding: 0 28px; } }
      .site-main-index .post-feed .post-card .post-card-content .post-card-content-link {
        text-decoration: none;
        border: 0; }
        .site-main-index .post-feed .post-card .post-card-content .post-card-content-link h2 {
          margin: 0 0 8.4px 0;
          font-weight: 500;
          line-height: 28px;
          font-size: 2.1rem;
          font-family: "Libre Baskerville"; }
          @media (max-width: 399px) {
            .site-main-index .post-feed .post-card .post-card-content .post-card-content-link h2 {
              font-size: 1.7rem; } }
      .site-main-index .post-feed .post-card .post-card-content .post-card-meta {
        margin: 0;
        font-size: 1.6rem;
        color: slategray;
        font-style: italic;
        font-family: "Libre Baskerville";
        font-variant: common-ligatures; }
        @media (max-width: 399px) {
          .site-main-index .post-feed .post-card .post-card-content .post-card-meta {
            font-size: 1.5rem; } }

.site-header-single {
  background: black;
  box-sizing: border-box;
  flex: 1 0 100%; }
  .site-header-single .inner {
    width: 700px;
    margin: 0 auto; }
    @media (max-width: 767px) {
      .site-header-single .inner {
        width: 85%; } }
    .site-header-single .inner .site-title {
      color: white;
      font-family: "Libre Baskerville";
      font-style: italic;
      font-weight: 400;
      font-size: 2.6rem;
      line-height: 84px;
      margin: 0; }

.site-main-single {
  flex: 1 0 100%;
  box-sizing: border-box;
  overflow: hidden; }
  .site-main-single .inner {
    width: 100%;
    margin: 0; }
    .site-main-single .inner .post-full-header-wrapper {
      background: #eee;
      width: 100%; }
    .site-main-single .inner .post-full-header {
      width: 700px;
      padding: 42px 0 28px;
      margin: 0 auto;
      position: relative; }
      @media (max-width: 767px) {
        .site-main-single .inner .post-full-header {
          width: 85%; } }
      .site-main-single .inner .post-full-header .post-full-meta {
        font-family: "Libre Baskerville";
        font-style: italic;
        font-size: 2rem;
        color: black; }
        @media (max-width: 767px) {
          .site-main-single .inner .post-full-header .post-full-meta {
            font-size: 1.8rem; } }
        @media (max-width: 399px) {
          .site-main-single .inner .post-full-header .post-full-meta {
            font-size: 1.7rem; } }
      .site-main-single .inner .post-full-header .post-full-title {
        font-family: "Libre Baskerville";
        font-size: 4.5rem;
        font-weight: 300;
        line-height: 56px;
        margin-top: 14px;
        margin-bottom: 28px;
        color: black; }
        @media (max-width: 767px) {
          .site-main-single .inner .post-full-header .post-full-title {
            font-size: 3.3rem;
            line-height: 36.4px;
            margin-top: 5.6px;
            margin-bottom: 11.2px; } }
        @media (max-width: 399px) {
          .site-main-single .inner .post-full-header .post-full-title {
            font-size: 3rem; } }
    .site-main-single .inner .post-full-content-wrapper {
      width: 100%; }
    .site-main-single .inner .post-full-content {
      width: 700px;
      margin: 0 auto;
      padding: 56px 56px;
      font-family: "Libre Baskerville";
      font-size: 1.8rem;
      line-height: 28px; }
      @media (max-width: 767px) {
        .site-main-single .inner .post-full-content {
          width: 85%;
          padding: 28px 0;
          font-size: 1.7rem; } }
      @media (max-width: 399px) {
        .site-main-single .inner .post-full-content {
          font-size: 1.6rem; } }
      .site-main-single .inner .post-full-content h1, .site-main-single .inner .post-full-content h2, .site-main-single .inner .post-full-content h3,
      .site-main-single .inner .post-full-content h4, .site-main-single .inner .post-full-content h5, .site-main-single .inner .post-full-content h6 {
        font-family: "Playfair Display";
        font-weight: 300;
        font-style: italic; }
      .site-main-single .inner .post-full-content h2 {
        font-size: 3.4rem; }
      .site-main-single .inner .post-full-content img {
        max-width: 100%;
        -webkit-border-radius: 6px;
        border-radius: 6px; }
      .site-main-single .inner .post-full-content hr {
        margin: 56px 0 84px;
        height: 0;
        border: 0; }
        @media (max-width: 767px) {
          .site-main-single .inner .post-full-content hr {
            margin: 28px 0 56px; } }
      .site-main-single .inner .post-full-content hr:before {
        content: '\2767';
        font-family: "Bona Title";
        display: block;
        text-align: center;
        color: #bbb;
        font-size: 3.6rem; }
      .site-main-single .inner .post-full-content pre code {
        font-family: "Libre Baskerville";
        font-style: italic;
        padding: 112px 0;
        text-indent: 0 !important; }
      .site-main-single .inner .post-full-content p {
        margin: 0; }
      .site-main-single .inner .post-full-content p + p {
        text-indent: 2.3rem; }
      .site-main-single .inner .post-full-content blockquote {
        font-family: "Libre Baskerville";
        font-style: italic;
        margin: 28px;
        color: #888; }
      .site-main-single .inner .post-full-content .kg-card {
        width: 3000px;
        margin: 28px 0 28px 0;
        padding: 42px 0;
        transform: translate(calc(-50% + 350px), 0);
        overflow: hidden;
        text-align: center;
        background: #eee; }
        @media (max-width: 767px) {
          .site-main-single .inner .post-full-content .kg-card {
            margin: 14px 0 14px 0;
            padding: 28px 0;
            transform: translate(calc(-50% + .85*50vw), 0); } }
        .site-main-single .inner .post-full-content .kg-card figcaption {
          margin: 28px 0 0;
          font-style: italic;
          color: #555;
          font-size: 2.1rem; }
          @media (max-width: 767px) {
            .site-main-single .inner .post-full-content .kg-card figcaption {
              font-size: 1.7rem;
              margin: 14px 0 0; } }
        .site-main-single .inner .post-full-content .kg-card .kg-image {
          max-width: 500px; }
          @media (max-width: 767px) {
            .site-main-single .inner .post-full-content .kg-card .kg-image {
              max-width: 85vw; } }
    .site-main-single .inner .post-full-footer-wrapper {
      width: 100%;
      background: #efefef; }
    .site-main-single .inner .post-full-footer {
      width: 700px;
      padding: 28px 0 56px;
      margin: 0 auto;
      line-height: 28px;
      font-family: "Libre Baskerville"; }
      @media (max-width: 767px) {
        .site-main-single .inner .post-full-footer {
          width: 85%; } }
      .site-main-single .inner .post-full-footer .author-card-name {
        font-style: italic;
        font-size: 2.3rem;
        font-weight: 500; }
        .site-main-single .inner .post-full-footer .author-card-name a, .site-main-single .inner .post-full-footer .author-card-name a:hover {
          text-decoration: none; }
      .site-main-single .inner .post-full-footer .author-card-contact ul {
        margin: 0;
        padding: 0; }
        .site-main-single .inner .post-full-footer .author-card-contact ul li {
          padding: 0;
          margin: 0;
          list-style: none;
          color: slategray; }
          .site-main-single .inner .post-full-footer .author-card-contact ul li h4 {
            font-family: "Rubik";
            font-weight: 400; }
          .site-main-single .inner .post-full-footer .author-card-contact ul li a {
            color: #111;
            text-decoration: none; }
            .site-main-single .inner .post-full-footer .author-card-contact ul li a:hover {
              color: slategray; }
          .site-main-single .inner .post-full-footer .author-card-contact ul li span[class*='socicon-'] {
            line-height: 28px;
            font-size: 1.6rem;
            position: relative;
            bottom: -2px;
            margin-right: 4px; }
    .site-main-single .inner .post-full-comments-wrapper {
      width: 100%; }
    .site-main-single .inner .just-comments {
      width: 700px;
      margin: 56px auto;
      box-sizing: border-box; }
      @media (max-width: 767px) {
        .site-main-single .inner .just-comments {
          width: 85%; } }

.read-next {
  flex: 1 0 100%; }
  .read-next .read-next-feed {
    display: flex;
    justify-content: center; }
    @media (max-width: 1023px) {
      .read-next .read-next-feed {
        display: block; } }
  .read-next .next {
    text-align: right;
    order: 2; }
    .read-next .next .post-card-tile {
      order: 2;
      background: #FFA644; }
    .read-next .next .post-card-content {
      order: 1; }
  .read-next .prev {
    text-align: left;
    order: 1;
    border-right: 1px solid #dedede; }
    .read-next .prev .post-card-tile {
      order: 1;
      background: #FFA644; }
    .read-next .prev .post-card-content {
      order: 2; }
  .read-next .next, .read-next .prev {
    flex: 1 0 50%;
    box-sizing: border-box; }
    @media (max-width: 767px) {
      .read-next .next, .read-next .prev {
        flex: 1 0 100%; } }
    .read-next .next .post-card, .read-next .prev .post-card {
      display: flex;
      height: 140px; }
      @media (max-width: 1023px) {
        .read-next .next .post-card, .read-next .prev .post-card {
          height: 112px; } }
      .read-next .next .post-card:hover .post-card-content, .read-next .prev .post-card:hover .post-card-content {
        background: #efefef; }
      .read-next .next .post-card .post-card-tile, .read-next .prev .post-card .post-card-tile {
        flex: 0 0 140px;
        box-sizing: border-box; }
        @media (max-width: 767px) {
          .read-next .next .post-card .post-card-tile, .read-next .prev .post-card .post-card-tile {
            flex: 0 0 56px; } }
        @media (max-width: 399px) {
          .read-next .next .post-card .post-card-tile, .read-next .prev .post-card .post-card-tile {
            flex: 0 0 28px; } }
      .read-next .next .post-card .post-card-content, .read-next .prev .post-card .post-card-content {
        flex: 1 1 auto;
        padding: 19.6px 42px;
        border-top: 1px solid #dedede;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .read-next .next .post-card .post-card-content .post-card-content-link, .read-next .prev .post-card .post-card-content .post-card-content-link {
          text-decoration: none;
          border: 0; }
          .read-next .next .post-card .post-card-content .post-card-content-link h2, .read-next .prev .post-card .post-card-content .post-card-content-link h2 {
            margin: 8.4px 0;
            font-weight: 500;
            font-size: 2rem;
            font-family: "Libre Baskerville"; }
            @media (max-width: 1023px) {
              .read-next .next .post-card .post-card-content .post-card-content-link h2, .read-next .prev .post-card .post-card-content .post-card-content-link h2 {
                font-size: 1.8rem; } }
            @media (max-width: 399px) {
              .read-next .next .post-card .post-card-content .post-card-content-link h2, .read-next .prev .post-card .post-card-content .post-card-content-link h2 {
                font-size: 1.7rem; } }
        .read-next .next .post-card .post-card-content .post-card-meta, .read-next .prev .post-card .post-card-content .post-card-meta {
          margin: 0;
          font-size: 1.6rem;
          color: slategray;
          font-family: "Libre Baskerville";
          font-style: italic;
          font-variant: common-ligatures; }
          @media (max-width: 767px) {
            .read-next .next .post-card .post-card-content .post-card-meta, .read-next .prev .post-card .post-card-content .post-card-meta {
              display: none; } }

.site-full-colophon {
  background: black;
  padding: 28px 42px;
  box-sizing: border-box;
  flex: 1 0 100%;
  display: flex;
  color: white;
  font-size: 1.9rem; }
  @media (max-width: 767px) {
    .site-full-colophon {
      padding: 28px 28px; } }
  @media (max-width: 399px) {
    .site-full-colophon {
      font-size: 1.7rem; } }
  .site-full-colophon .copyright-info {
    flex: 1 0 75%;
    line-height: 28px; }
  .site-full-colophon .rss {
    flex: 1 0 25%;
    line-height: 28px;
    text-align: right; }
    .site-full-colophon .rss a {
      text-decoration: none;
      border: 0; }
