@import "../../node_modules/include-media/dist/_include-media.scss";

$basefont: "Rubik";
$bodyfont: "Libre Baskerville";

$bonatitle: "Bona Title";
$bonasforza: "Bona Sforza";

$baskerville: "Libre Baskerville";
$playfair: "Playfair Display";

$baseline: 28px;

$breakpoints: (phone: 400px, tablet: 768px, desktop: 1024px);


html {
	font-size: 62.5%;
}

body {
	background: #fff;
	color: #333;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: $bodyfont;
	font-weight: 300;
	font-size: 1.7rem;
	line-height: $baseline;
}

a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid slategray;
	&:hover {
		color: slategray;
	}
}

.site-wrapper {
	display: flex;
	flex-wrap: wrap;
}

// INDEX

.site-header-index {
	flex: 1 0 45%;
	height: 100vh;
	background-color: black;
	background-image: url("../images/logo-oko-white.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 10 * $baseline;
	position: relative;

	@include media(">phone", "<=desktop") {
		flex: 1 0 100%;
		height: 350px;
		background-size: 7 * $baseline;
	}

	@include media("<phone") {
		height: 250px;
		background-size: 5 * $baseline;
	}

	.site-header-content {
		position: relative;
		top: 0;
		left: 0;
		text-align: center;
		padding: 4*$baseline;
		color: white;

		h1 {
			font-family: $baskerville;
			// font-style: italic;
			font-size: 4.3rem;
			line-height: 3*$baseline;
			text-transform: uppercase;
			// font-weight: 300;
			font-variant: common-ligatures;
		}
	}

	.site-nav {
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		text-align: center;
	}
}

.site-main-index {
	flex: 1 0 55%;
	height: 100vh;
	background: #fff;
	box-sizing: border-box;

	@include media("<desktop") {
		flex: 1 0 100%;
		height: auto;
	}

	.inner {
		height: 100%;
		overflow-y: scroll;
	}

	.post-feed {

		.post-card {
			height: 5 * $baseline;
			width: 100%;
			margin: 0;
			float: left;
			clear: both;
			display: flex;

			&:nth-child(5n-0) { .post-card-tile { background: #E54661; } }
			&:nth-child(5n-1) { .post-card-tile { background: #FFA644; } }
			&:nth-child(5n-2) { .post-card-tile { background: #998A2F; } }
			&:nth-child(5n-3) { .post-card-tile { background: #2C594F; } }
			&:nth-child(5n-4) { .post-card-tile { background: #002D40; } }

			&:hover {
				.post-card-content {
					border-right: 5px solid black;
					background: #efefef;
				}
			}

			.post-card-tile {
				flex: 0 0 5 * $baseline;
				box-sizing: border-box;

				@include media("<tablet") {
					flex: 0 0 2 * $baseline;
				}
			}
			.post-card-content {
				flex: 1 1 auto;
				// padding: .5*$baseline 2*$baseline;
				padding: 0 2*$baseline;
				border-bottom: 1px solid #dedede;
				display: flex;
				flex-direction: column;
				justify-content: center;

				@include media("<phone") {
					padding: 0 $baseline;
				}

				.post-card-content-link {
					text-decoration: none;
					border: 0;
					h2 {
						margin: 0 0 .3*$baseline 0;
						font-weight: 500;
						line-height: $baseline;
						font-size: 2.1rem;
						font-family: $baskerville;

						@include media("<phone") {
							font-size: 1.7rem;
						}
					}
				}

				.post-card-meta {
					margin: 0;
					font-size: 1.6rem;
					color: slategray;
					font-style: italic;
					// font-weight: bolder;
					font-family: $baskerville ;
					font-variant: common-ligatures;

					@include media("<phone") {
						font-size: 1.5rem;
					}
				}

			}
		}
	}
}

// SINGLE ------------------------------------------------------------------------------

.site-header-single {
	background: black;
	box-sizing: border-box;
	flex: 1 0 100%;

	.inner {
		width: 25 * $baseline;
		margin: 0 auto;
		// position: relative;

		@include media("<tablet") {
			width: 85%;
		}

		.site-title {
			color: white;
			font-family: $baskerville;
			// text-transform: uppercase;
			font-style: italic;
			font-weight: 400;
			font-size: 2.6rem;
			line-height: 3 * $baseline;
			margin: 0;
		}
	}
}

.site-main-single {
	flex: 1 0 100%;
	box-sizing: border-box;
	overflow: hidden;

	.inner {
		width: 100%;
		margin: 0;

		.post-full-header-wrapper {
			// background: #E54661;
			background: #eee;
			width: 100%;
		}

		.post-full-header {

			width: 25*$baseline;
			padding: 1.5*$baseline 0 $baseline;
			margin: 0 auto;
			position: relative;

			@include media("<tablet") {
				width: 85%;
			}

			.post-full-meta {
				font-family: $baskerville;
				font-style: italic;
				font-size: 2rem;
				color: black;

				@include media("<tablet") {
					font-size: 1.8rem;
				}

				@include media("<phone") {
					font-size: 1.7rem;
				}
			}

			.post-full-title {
				font-family: $baskerville;
				font-size: 4.5rem;
				font-weight: 300;
				// font-style: italic;
				line-height: 2*$baseline;
				margin-top: .5*$baseline;
				margin-bottom: $baseline;
				color: black;

				@include media("<tablet") {
					font-size: 3.3rem;
					line-height: 1.3*$baseline;
					margin-top: .2*$baseline;
					margin-bottom: .4*$baseline;
				}

				@include media("<phone") {
					font-size: 3rem;
				}
			}
		}

		.post-full-content-wrapper {
			width: 100%;
		}

		.post-full-content {
			width: 25*$baseline;
			margin: 0 auto;
			padding: 2*$baseline 2*$baseline;
			font-family: $bodyfont;
			font-size: 1.8rem;
			line-height: $baseline;

			@include media("<tablet") {
				width: 85%;
				padding: $baseline 0;
				font-size: 1.7rem;
			}

			@include media("<phone") {
				font-size: 1.6rem;
			}

			h1, h2, h3,
			h4, h5, h6 {
				font-family: $playfair;
				font-weight: 300;
				font-style: italic;
			}

			h2 {
				font-size: 3.4rem;
			}

			img {
				max-width: 100%;
				-webkit-border-radius: 6px;
				border-radius: 6px;
			}

			hr {
				margin: 2*$baseline 0 3*$baseline;
				height: 0;
				border: 0;

				@include media("<tablet") {
					margin: $baseline 0 2*$baseline;
				}
			}

			hr:before {
				content: '\2767';
				font-family: $bonatitle;
				display: block;
				text-align: center;
				color: #bbb;
				font-size: 3.6rem;
			}

			pre code {
				font-family: $baskerville;
				font-style: italic;
				padding: 4*$baseline 0;
				text-indent: 0 !important;
			}

			p {
				margin: 0;
			}

			p+p {
				text-indent: 2.3rem;
			}

			blockquote {
				font-family: $baskerville;
				font-style: italic;
				// font-size: 115%;
				margin: $baseline;
				color: #888;
			}

			.kg-card {
				width: 3000px;
				margin: 1*$baseline 0 1*$baseline 0;
				padding: 1.5*$baseline 0;
				transform: translate(calc(-50% + 350px),0);
				overflow: hidden;
				text-align: center;
				background: #eee;

				@include media("<tablet") {
					margin: .5*$baseline 0 .5*$baseline 0;
					padding: 1*$baseline 0;
					transform: translate(calc(-50% + .85*50vw),0);
				}

				figcaption {
					// line-height: 1.*$baseline;
					margin: 1*$baseline 0 0;
					font-style:italic;
					color: #555;
					font-size: 2.1rem;

					@include media("<tablet") {
						font-size: 1.7rem;
						margin: .5*$baseline 0 0;
					}
				}

				.kg-image {
					max-width: 500px;

					@include media("<tablet") {
						max-width: 85vw;
					}
				}
			}
		}

		.post-full-footer-wrapper {
			width: 100%;
			background: #efefef;
		}

		.post-full-footer {
			width: 25*$baseline;
			padding: $baseline 0 2*$baseline;
			margin: 0 auto;
			line-height: $baseline;
			font-family: $baskerville;

			@include media("<tablet") {
				width: 85%;
			}

			.author-card-name {
				font-style: italic;
				font-size: 2.3rem;
				font-weight: 500;

				a, a:hover {
					text-decoration: none;
				}
			}

			.author-card-contact {

				ul {
					margin: 0;
					padding: 0;

					li {
						padding: 0;
						margin: 0;
						list-style: none;
						color: slategray;

						h4 {
							font-family: $basefont;
							font-weight: 400;
						}

						a {
							color: #111;
							text-decoration: none;
							&:hover {
								color: slategray;
							}
						}

						span[class*='socicon-'] {
							line-height: $baseline;
							// color: slategray;
							font-size: 1.6rem;
							position: relative;
							bottom: -2px;
							margin-right: 4px;
						}
					}
				}
			}
		}

		.post-full-comments-wrapper {
			width: 100%;
		}

		.just-comments {
			width: 25*$baseline;
			margin: 2*$baseline auto;
			box-sizing: border-box;

			@include media("<tablet") {
				width: 85%;
			}
		}

		// #isso-thread {
			// width: 25*$baseline;
			// margin: 2*$baseline auto;
			// box-sizing: border-box;
		//
		// 	.textarea-wrapper {
		// 		margin: 0 0 .5*$baseline;
		// 		.textarea {
		// 			padding: 1rem;
		// 			font-family: $basefont;
		// 			font-size: 1.5rem;
		// 			line-height: .8*$baseline;
		// 			min-height: 4*$baseline;
		// 		}
		// 	}
		//
		// 	.auth-section {
		// 		.input-wrapper {
		// 			margin-right: .5*$baseline;
		// 			input {
		// 				padding: 1rem;
		// 				font-size: 1.5rem;
		// 				line-height: 1*$baseline;
		// 				font-family: $basefont;
		// 			}
		// 		}
		//
		// 		.post-action {
		// 			input {
		// 				padding: 1rem 1.5rem;
		// 				font-size: 1.5rem;
		// 				line-height: 1*$baseline;
		// 				font-family: $basefont;
		// 				background: #ddd;
		// 				border: 0;
		// 				color: #666;
		//
		// 				&:hover {
		// 					background: #FFA644;
		// 					color: white;
		// 				}
		// 			}
		// 		}
		// 	}
		// }
	}
}

.read-next {
	flex: 1 0 100%;

	.read-next-feed {
		display: flex;
		justify-content: center;

		@include media("<desktop") {
			display: block;
		}
	}

	.next {
		text-align: right;
		order: 2;
		.post-card-tile { order: 2; background: #FFA644; }
		.post-card-content { order: 1; }
	}

	.prev {
		text-align: left;
		order: 1;
		border-right: 1px solid #dedede;
		.post-card-tile { order: 1; background: #FFA644; }
		.post-card-content { order: 2; }
	}

	.next, .prev {
		flex: 1 0 50%;
		box-sizing: border-box;

		@include media("<tablet") {
			flex: 1 0 100%;
		}

		.post-card {
			display: flex;
			height: 5*$baseline;

			@include media("<desktop") {
				height: 4*$baseline;
			}

			&:hover {
				.post-card-content {
					background: #efefef;
				}
			}

			.post-card-tile {
				flex: 0 0 5*$baseline;
				box-sizing: border-box;

				@include media("<tablet") {
					flex: 0 0 2*$baseline;
				}

				@include media("<phone") {
					flex: 0 0 1*$baseline;
				}
			}

			.post-card-content {
				flex: 1 1 auto;
				padding: .7*$baseline 1.5*$baseline;
				border-top: 1px solid #dedede;
				display: flex;
				flex-direction: column;
				justify-content: center;

				.post-card-content-link {
					text-decoration: none;
					border: 0;
					h2 {
						margin: .3*$baseline 0;
						font-weight: 500;
						font-size: 2rem;
						font-family: $baskerville;

						@include media("<desktop") {
							font-size: 1.8rem;
						}

						@include media("<phone") {
							font-size: 1.7rem;
						}
					}
				}

				.post-card-meta {
					margin: 0;
					font-size: 1.6rem;
					color: slategray;
					font-family: $baskerville;
					font-style: italic;
					font-variant: common-ligatures;

					@include media("<tablet") {
						display: none;
					}
				}

			}


		}


	}

}

.site-full-colophon {

	// height: 3 * $baseline;
	background: black;
	padding: $baseline 1.5*$baseline;
	box-sizing: border-box;
	flex: 1 0 100%;
	display: flex;
	color: white;
	font-size: 1.9rem;

	@include media("<tablet") {
		padding: $baseline $baseline;
	}

	@include media("<phone") {
		font-size: 1.7rem;
	}

	.copyright-info {
		flex: 1 0 75%;
		line-height: $baseline;
	}

	.rss {
		flex: 1 0 25%;
		line-height: $baseline;
		text-align: right;
		a {
			text-decoration: none;
			border: 0;
		}
	}
}

// .kg-width-wide img {
// 	max-width: 85vw;
// }
//
// .kg-width-full img {
// 	max-width: 100vw;
// }
