$basefont: "Rubik";
$bodyfont: "Bona Nova";

$bonatitle: "Bona Title";
$bonasforza: "Bona Sforza";

$baseline: 28px;

$breakpoints: (
  'phone': 320px,
  'tablet': 768px,
  'desktop': 1024px
) !default;

html {
	font-size: 62.5%;
}


body {
	background: #fff;
	color: #333;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: $bodyfont;
	font-weight: 300;
	font-size: 1.8rem;
	line-height: $baseline;
}

a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid slategray;
	&:hover {
		color: slategray;
	}
}

.site-wrapper {
	display: flex;
	flex-wrap: wrap;
}

// INDEX

.site-header-index {
	flex: 1 0 45%;
	height: 100vh;
	background-color: black;
	background-image: url("../images/astro-glyph.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 10 * $baseline;
	position: relative;

	.site-header-content {
		position: relative;
		top: 0;
		left: 0;
		text-align: center;
		padding: 2*$baseline;
		color: white;

		h1 {
			font-family: $bonatitle;
			// font-style: italic;
			font-size: 4.6rem;
			line-height: 3*$baseline;
			font-weight: 300;
			font-variant: common-ligatures small-caps;
		}
	}

	.site-nav {
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		text-align: center;
	}
}

.site-main-index {
	flex: 1 0 55%;
	height: 100vh;
	background: #fff;
	box-sizing: border-box;

	.inner {
		height: 100%;
		overflow-y: scroll;
	}

	.post-feed {

		.post-card {
			height: 5 * $baseline;
			width: 100%;
			margin: 0;
			float: left;
			clear: both;
			display: flex;

			&:nth-child(5n-0) { .post-card-tile { background: #E54661; } }
			&:nth-child(5n-1) { .post-card-tile { background: #FFA644; } }
			&:nth-child(5n-2) { .post-card-tile { background: #998A2F; } }
			&:nth-child(5n-3) { .post-card-tile { background: #2C594F; } }
			&:nth-child(5n-4) { .post-card-tile { background: #002D40; } }

			&:hover {
				.post-card-content {
					border-right: 5px solid black;
					background: #efefef;
				}
			}

			.post-card-tile {
				flex: 0 0 5 * $baseline;
				box-sizing: border-box;
			}
			.post-card-content {
				flex: 1 1 auto;
				padding: .5*$baseline 2*$baseline;
				border-bottom: 1px solid #dedede;

				.post-card-content-link {
					text-decoration: none;
					h2 {
						margin: .7*$baseline 0 .3*$baseline 0;
						font-weight: 500;
						line-height: $baseline;
						font-size: 2.3rem;
						font-family: $basefont;
					}
				}

				.post-card-meta {
					margin: 0;
					font-size: 1.6rem;
					color: slategray;
					// font-style: italic;
					// font-family: $bonasforza;
					font-variant: common-ligatures small-caps;
				}
			}
		}
	}
}

// SINGLE ------------------------------------------------------------------------------

.site-header-single {
	background: black;
	box-sizing: border-box;
	flex: 1 0 100%;

	.inner {
		width: 25 * $baseline;
		margin: 0 auto;
		position: relative;

		.site-title {
			color: white;
			font-family: $bonatitle;
			// font-style: italic;
			font-weight: 500;
			font-size: 2.6rem;
			line-height: 3 * $baseline;
			margin: 0;
		}
	}
}

.site-main-single {
	flex: 1 0 100%;
	box-sizing: border-box;

	.inner {
		width: 100%;
		margin: 0;

		.post-full-header-wrapper {
			// background: #E54661;
			background: #eee;
			width: 100%;
		}

		.post-full-header {

			width: 25*$baseline;
			padding: 1.5*$baseline 0 $baseline;
			margin: 0 auto; 
			position: relative;

			// left: -80px;
			// padding-left: 150px;
			// background-color: transparent;
			// background-image: url("../images/astro-glyph.png");
			// background-position: left center;
			// background-repeat: no-repeat;
			// background-size: auto 100px;

			.post-full-meta {
				font-family: $basefont;
				font-size: 2rem;
				color: black;
			}

			.post-full-title {
				font-family: $basefont;
				font-size: 4.5rem;
				font-weight: 300;
				// font-style: italic;
				line-height: 2*$baseline;
				margin-top: .5*$baseline;
				margin-bottom: $baseline;
				color: black;
			}
		}

		.post-full-content-wrapper {
			width: 100%;
		}

		.post-full-content {
			width: 25*$baseline;
			margin: 0 auto;
			padding: 2*$baseline $baseline;
			font-family: $bodyfont;
			font-size: 1.9rem;
			line-height: $baseline;

			h1, h2, h3,
			h4, h5, h6 {
				font-family: $bonatitle;
				font-weight: 500;
				// font-style: italic;
			}

			h2 {
				font-size: 3.4rem;
			}

			img {
				max-width: 100%;
				-webkit-border-radius: 6px;
				border-radius: 6px;
			}

			hr {
				margin: 2*$baseline 0 3*$baseline;
				height: 0;
				border: 0;
			}

			hr:before {
				content: '\2767';
				font-family: $bonatitle;
				display: block;
				text-align: center;
				color: #bbb;
				font-size: 3.6rem;
			}

			pre code {
				font-family: $bodyfont;
				font-style: italic;
				padding: 4*$baseline 0;
				text-indent: 0 !important;
			}

			p {
				margin: 0;
			}

			p+p {
				text-indent: 2rem;
			}

			blockquote {
				font-size: 115%;
				margin: $baseline;
			}
		}

		.post-full-footer-wrapper {
			width: 100%;
			background: #efefef;
		}

		.post-full-footer {
			width: 25*$baseline;
			padding: $baseline 0 2*$baseline;
			margin: 0 auto;
			line-height: $baseline;
			font-family: $basefont;

			.author-card-contact {

				ul {
					margin: 0;
					padding: 0;

					li {
						padding: 0;
						margin: 0;
						list-style: none;
						color: slategray;

						a {
							color: #111;
							&:hover {
								color: slategray;
							}
						}
						
						span[class*='socicon-'] {
							line-height: $baseline;
							// color: slategray;
							font-size: 1.6rem;
							position: relative;
							bottom: -2px;
							margin-right: 4px;
						}
					}
				}
			}
		}

		.post-full-comments-wrapper {
			width: 100%;
		}

		#isso-thread {
			width: 25*$baseline;
			margin: 2*$baseline auto;
			box-sizing: border-box;

			.textarea-wrapper {
				margin: 0 0 .5*$baseline;
				.textarea {
					padding: 1rem;
					font-family: $basefont;
					font-size: 1.5rem;
					line-height: .8*$baseline;
					min-height: 4*$baseline;
				}
			}

			.auth-section {
				.input-wrapper {
					margin-right: .5*$baseline;
					input {
						padding: 1rem;
						font-size: 1.5rem;
						line-height: 1*$baseline;
						font-family: $basefont;
					}
				}

				.post-action {
					input {
						padding: 1rem 1.5rem;
						font-size: 1.5rem;
						line-height: 1*$baseline;
						font-family: $basefont;
						background: #ddd;
						border: 0;
						color: #666;

						&:hover {
							background: #FFA644;
							color: white;
						}
					}
				}
			}
		}
	}
}

.read-next {
	flex: 1 0 100%;
	

	.read-next-feed {
		display: flex;
		justify-content: center;
	}

	.next {
		text-align: right;
		order: 2;
		.post-card-tile { order: 2; background: #FFA644; }
		.post-card-content { order: 1; }
	}

	.prev {
		text-align: left;
		order: 1;
		border-right: 1px solid #dedede;
		.post-card-tile { order: 1; background: #FFA644; }
		.post-card-content { order: 2; }
	}

	.next, .prev {
		flex: 1 0 50%;
		box-sizing: border-box;

		.post-card {
			display: flex;
			height: 5*$baseline;

			&:hover {
				.post-card-content {
					background: #efefef;
				}
			}

			.post-card-tile {
				flex: 0 0 5*$baseline;
				box-sizing: border-box;
			}
			.post-card-content {
				flex: 1 1 auto;
				padding: .7*$baseline 1.5*$baseline;
				border-top: 1px solid #dedede;

				.post-card-content-link {
					text-decoration: none;
					h2 {
						margin: .3*$baseline 0;
						font-weight: 500;
						font-size: 2.3rem;
						font-family: $basefont;
					}
				}

				.post-card-meta {
					margin: 0;
					font-size: 1.6rem;
					color: slategray;
					// font-family: 
					font-variant: common-ligatures small-caps;
				}

			}


		}

		
	}

}

.site-full-colophon {

	// height: 3 * $baseline;
	background: black;
	padding: $baseline 1.5*$baseline;
	box-sizing: border-box;
	flex: 1 0 100%;
	display: flex;
	color: white;
	font-size: 1.9rem;

	.copyright-info {
		flex: 1 0 50%;
		line-height: $baseline;
	}

	.rss {
		flex: 1 0 50%;
		line-height: $baseline;
		text-align: right;
		a {
			text-decoration: none;
			border: 0;
		}
	}
}